
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #F5F5F1;
}

// start navbar styling
.container {
  display: flex;
  align-items: center;
  background-color: white;
}
.navbar {
  margin-bottom: 0;
  min-height: 40px;
}
.logo {
  font-size: 40px;
  font-family: Baskerville;
  color: #F56400;
  float: left;
  margin-right: 20px;
}
.right-tags {
  float: right;
  color: #0192B5;
  padding-right: 15px;
  font-size: 15px;
  margin-left: auto;
  span {
    padding-right: 10px;
  }
  i {
    color: #666666;
  }
  :nth-child(3){
    border: 1px solid #0192B5;
  }
}

.search-button {
  background-color: #34A8C4;
  color: white;

}
.categories {
  padding-top: 10px;
  span {
    color: #777777;
    padding: 0 15px;
  }
}


// end top nav bars

// start left nav bar styling

.white-background {
  background-color: white;
}
.black-text {
  color: black;
  text-decoration: none;
}
.left-nav-links {
  color: #0192B5;
  background-color: white;
  p:hover {
    text-decoration: underline;
  }
}

.refine {
  background-color: white;
  margin-top: 20px;
  color: #0192B5;
  div {
    border-top: 1px solid #E1E3DF;
  }
}
.hover:hover{
  text-decoration: underline;
}

.color {
  li {
    height: 22px;
    width: 22px;
  }
  li:nth-child(1) {
    background-color: #f40b32;
  }
  li:nth-child(2) {
    background-color: #FF7F00;
  }
  li:nth-child(3) {
    background-color: #F3CC0C;
  }
  li:nth-child(4) {
    background-color: #0AC20A;
  }
  li:nth-child(5) {
    background-color: #0CCCF3;
  }
  li:nth-child(6){
    background-color: #A60CF3;
  }
  li:nth-child(7) {
    background-color: #000000;
  }
  li:nth-child(8) {
    background-color: #FFFFFF;
    border: 1px solid black;
  }
}

// end left nav styling


// template styling
#products-container {
  margin-top: 40px;
}
.item-tile {
  margin-top: 15px;
  border-radius: 10%;
}
.bottom-info {
  font-family: "Graphik Web";
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: white;
}
.item-tile {
  img {
    height: 100%;
    width: 100%;
  }
  .title {
    white-space: nowrap;
  }
  .shop-name {
    color: #939396;
  }
  .price {
    color: #88C347;
    float: right;
  }
}

// related search styling

.related-tags {
  color: #0192B5;
  span:hover {
    text-decoration: underline;
  }
}

// footer styling

.footer {
  border-top: 1px solid #E1E3DF;
  padding-top: 20px;
  button {
    background-color: #34A8C4;
    color: white;
  }
  .section-titles {
    font-weight: bold;
  }
  p:hover {
    text-decoration: underline;
  }
}
